.full-height {
  height: 100%
}

.header {
  max-height: 10%;
}

.header-text {
  font-size: 24px;
}

.info-text {
  word-break: break-all;
}

.body {
  min-height: 90%;
  flex: 1 auto;
}

.response-not-allowed-icon {
  font-size: 128px;
}

.centred-content {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .p-card-body {
  height: 100%;
}

::ng-deep .p-card-content {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  height: 100%;
	display: flex;
	flex-direction: column;
}
