.margins {
  padding: 20px !important;
}

.card {
  width: 100%;
  padding: 0px 10px 20px 20px;
}

.title-text {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.card-text {
  font-size: larger;
}

.card-subtext {
  font-size: large;
}

::ng-deep .centred-content {
  text-align: center !important;
}

::ng-deep .p-dialog-content {
  height: 100%;
}

::ng-deep .edit-tooltip {
  font-size: 12px;
}