<div class="p-d-flex p-flex-column">
  <div class="card">
    <h1 class="title-text">
      CodeLabeller
    </h1>
  </div>
  <div>
    <div class="p-d-flex card-container">
      <div class="p-mr-2 p-as-stretch card">
        <p-card styleClass="p-card-shadow">
          <span class="greeting-text">
            <b>Welcome!</b>
          </span>
        </p-card>
      </div>
    </div>
  </div>
  <div class="p-mt-auto">
    <div class="p-d-flex card-container">
      <div class="p-mr-2 p-as-stretch card">
        <p-card styleClass="p-card-shadow centred-content">
          <p-button label="Sign in with Google" icon="fab fa-google" styleClass="p-button-lg" (click)="login()"></p-button>
        </p-card>
      </div>
    </div>
  </div>
</div>
